@import url(../comments/__title/comments__title.css);
@import url(../comments/__subtitle/comments__subtitle.css);
@import url(../comments/__image/comments__image.css);
@import url(../comments/__author/comments__author.css);
@import url(../comments/__quote/comments__quote.css);
@import url(../comments/__item/comments__item.css);
@import url(../comments/__container/comments__container.css);

.comments {
  max-width: 1184px;
  margin: 102px auto;
}

@media (max-width: 1279px) {
  .comments {
    max-width: 928px;
  }
}

@media (max-width: 494px) {
  .comments {
    max-width: 343px;
    margin-top: 64px;
  }
}

@media (max-width: 374px) {
  .comments {
    max-width: 288px;
    margin-bottom: 64px;
  }
}
