.intro__list {
  max-width: 383px;
  font-size: 13px;
  font-style: normal;
  line-height: 20px;
  list-style-type: none;
  font-weight: bold;
  color: #fff;
  margin: 24px auto 0 0;
  padding-left: 0;
}

@media (max-width: 449px) {
  .intro__list {
    font-size: 12px;
    line-height: 19px;
    max-width: 343px;
    margin: 32px auto 0;
  }
}

@media (max-width: 374px) {
  .intro__list {
    max-width: 288px;
  }
}
