.place__content {
  display: flex;
  display: -webkit-box;
}

@media (max-width: 1023px) {
  .place__content {
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .place__content {
    display: grid;
    align-items: center;
  }
}
