.place__domen {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #fff;
}

/* Не до конца понял задачу тут, какой эффект нужен */
.place__domen:hover {
  /* text-shadow: 100px 4px 4px rgba(0, 0, 0, 0.25); */

  transition: linear 0.3s;
  opacity: 0.3;
}
