.video__author-name {
  width: 285px;
  height: 13px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;

  color: #ffffff;
  margin: 0 0 30px 30px;
}

@media (max-width: 937px) {
  .video__author-name {
    margin: 0 0 24px 24px;
  }
}

@media (max-width: 767px) {
  .video__author-name {
    width: 277px;
  }
}
