.comments__title {
  max-width: 800px;
  min-height: 157px;
  margin: 0 auto 48px auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .comments__title {
    min-height: auto;
    max-width: 660px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media (max-width: 449px) {
  .comments__title {
    max-width: 660px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    max-width: 343px;
  }
}
