@import url(../__item/_kamchatka/video__item_kamchatka.css);
@import url(../__item/_observatory/video__item_observatory.css);

.video__item {
  border-radius: 5px;
  background-size: cover;
  position: relative;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 583px;
  min-height: 323px;
}

.video__item:hover {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.video__item:not(:hover) {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

@media (max-width: 1190px) {
  .video__item {
    min-width: 456px;
    min-height: 288px;
  }
}

@media (max-width: 937px) {
  .video__item {
    min-width: 352px;
    min-height: 250px;
  }
}

@media (max-width: 767px) {
  .video__item {
    min-width: 343px;
    min-height: 200px;
  }
}

@media (max-width: 374px) {
  .video__item {
    min-width: 288px;
    min-height: 192px;
  }
}
