.intro__content-row {
  font-style: normal;
  font-weight: normal;
  color: #fff;
  max-width: 683px;
  font-size: 14px;
  line-height: 24px;
  margin: 27px auto 0 0;
}

@media (max-width: 449px) {
  .intro__content-row {
    max-width: 343px;
    font-size: 16px;
    line-height: 27px;
    margin: 32px auto 0;
  }
}

@media (max-width: 374px) {
  .intro__content-row {
    max-width: 288px;
  }
}
