.cover__title {
  max-width: 1094px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #fffdfd;
  margin: 0px auto 134px;
}

@media (max-width: 957px) {
  .cover__title {
    max-width: 576px;
    font-size: 72px;
    line-height: 78px;
    margin: 0px auto 46px;
    padding-top: 165px;
    max-width: 576px;
  }
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0px auto 8px;
    padding-top: 103px;
    max-width: 252px;
  }
}
